{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!-- Left side bar -->
    {% include 'dashboards/sidebar.html' %}

    <!-- Right side content -->
    <div class="col-md-9">
    {% if perms.blogs.view_category %}
    <h3>All Categories</h3>
    <a href="{% url 'add_category' %}" class="btn btn-dark text-light float-end mb-2" >Add New</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Category Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in categories %}
            <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url 'post_by_category' cat.id  %}">{{cat.category_name}}</a></td>
            <td>{{cat.create_at}}</td>
            <td>{{cat.updated_at}}</td>
            <td>
                <a href="{% url 'edit_category' cat.id  %}"><i class="fa fa-edit text-success"></i></a>
                &nbsp;
                <a href="{% url 'delete_category' cat.id %}"><i class="fa fa-trash text-danger"></i></a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h5>You do not have permission to view categogy</h5>
    {% endif %}
    </div>
</div>

{% endblock %}

